.author-portrait {
    width: 150px;
    height: 150px;
    margin: 64px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}