.content-footer {
    background-color: $navy;

    @include breakpoint($medium-up) {
        background-color: $white;
    }

    &--shadow {
        @include breakpoint($medium-up) {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
        }
    }
}