.content-body {
    position: relative;
    padding: 80px 0;
    font-weight: 300;

    &__initial-letter {
        position: absolute;
        color: rgba($blue-opaque, 0.2);
        pointer-events: none;
        font-weight: 700;
        font-size: 6em;
        top: 24px;
        left: -19px;
        z-index: 0;
        user-select: none;
    }

    blockquote {
        border-left: 4px solid $blue-opaque;
        padding: 0 32px;
        font-family: $sans-serif;
        color: #123053;
        font-size: 1.5em;
        font-weight: 200;
        margin: 32px 0;
        line-height: 1.33;

        @include breakpoint ($medium-up) {
            padding: 0 64px;
            margin: 64px 0;
        }
    }
}