footer {
    position: absolute;
    width: 100%;
    height: 192px;
    bottom: 0;

    @include breakpoint($large) {
        height: 96px;
    }

    .footer-wrapper {
        position: relative;
        background-color: $black;
        padding: 24px 20px 40px 20px;
        color: rgba($white, 0.4);
        font-style: italic;
        font-weight: 300;
        text-align: center;
        font-size: 0.75em;
        height: 192px;

        @include breakpoint($large) {
            height: 96px;
        }

        strong {
            color: $white;
            font-size: 0.875rem;
            padding-bottom: 32px;
        }
    
        p {
            margin: 0;
        }
    
        a {
            opacity: 0.35;
        }
    }

    .footer-download {
        background-color: rgba(0, 0, 0, 0.1);
        height: 96px;

        @include breakpoint($medium-up) {
            padding-top: 14px;
        }

        &--on-small {
            @include breakpoint($medium-up) {
                display: none;
            }
        }
    }
}

.footer-watermark {
    @include breakpoint($large) {
        position: absolute;
        top: 50%;
        right: 32px;
        transform: translateY(-50%);
    }
}