footer {
    background-color: $black;
    padding: 24px 20px 40px 20px;
    color: rgba($white, 0.4);
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 0.75em;

    strong {
        color: $white;
        font-size: 0.875rem;
    }

    p {
        margin: 0;
    }
}