.menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;

    &.menu-active {
        pointer-events: all;

        .menu {
            box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.16);
            transform: none;
        }
    }
}

.top-bar {
    width: 100%;
    height: 65px;
    background-color: rgba($navy, 0.19);
}

.menu-button {
    position: absolute;
    font-size: 28px;
    line-height: 50px;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    color: $white;
    background: $navy;
    border: 0;
    pointer-events: all;
    cursor: pointer;
    transition: background-color 0.13s ease-in, box-shadow 0.13s ease-in;
    z-index: 1001;

    &:hover {
        background-color: lighten($navy, 3);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
    }
}

.menu-button-open {
    top: 37px;
    left: 24px;
}

.menu-button-close {
    top: 24px;
    right: 24px;

    @include breakpoint($small-only) {
        position: fixed;
    }
}

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $navy;
    display: flex;
    flex-direction: column;
    z-index: 1002;
    transition: transform 0.33s ease;
    transform: translateX(-100%);

    @include breakpoint($medium-up) {
        max-width: 448px;
    }

    &-content {
        position: relative;
        flex: 1;
        overflow-y: auto;
    }

    &-footer {
        flex: 0;

        @include breakpoint($medium-up) {
            display: none;
        }
    }
}

.menu-sections-title {
    margin-top: 32px;
    font-family: $sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 1.125em;
    font-weight: 300;

    @include breakpoint($small-only) {
        display: none;
    }
}

.menu-content__content {

    @include breakpoint($medium-up) {
        padding-right: 80px;
        text-align: right;
    }
}

.menu-sections {
    list-style: none;
    padding: 0;

    & > li {
        padding: 8px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);

        @include breakpoint ($small-only) {
            &:last-child {
                border-bottom: 0;
            }
        }

        a {
            font-weight: 700;
        }
    }

    ul {
        list-style: none;
        padding: 0 0 4px 0;
        margin: 0;

        & > li {
            a {
                font-weight: 300;
            }
        }
    }

    a {
        display: block;
        color: $white;
        padding: 8px 48px;

        @include breakpoint ($medium-up) {
            padding: 8px 0;
        }

        &:hover {
            color: $white;
        }
    }
}