.homepage-hero {
    @include breakpoint($medium-up) {
        padding-bottom: 192px;
    }
}

.homepage-section {
    background-color: $navy;
    padding: 112px 0 24px 0;
    margin-top: -26px;

    @include breakpoint($medium-up) {
        padding: 208px 0 64px;
        margin-top: -143px;
    }
}

.homepage-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        font-family: $sans-serif;
        margin: 0;

        @include breakpoint($medium-up) {
            display: inline-block;
        }
    }

    
    li + li {
        margin: 24px 0;
        
        @include breakpoint($large) {
            margin: 0 0 0 12px;
        }
    }

    a {
        color: rgba(255, 255, 255, 0.6);
        padding: 12px 24px;
        border-radius: 4px;
        transition: background-color 0.13s ease-in, color 0.13s ease-in;

        @include breakpoint($touch) {
            padding: 24px 32px;
        }

        &:hover {
            color: rgba(255, 255, 255, 0.8);
            background-color: rgba(255, 255, 255, 0.06);
            text-decoration: none;
        }
    }
}

.homepage-predictions {
    margin-top: -27px;

    @include breakpoint($medium-up) {
        margin-top: -143px;
    }

    @include breakpoint($small-only) {
        display: none;
    }
}

.homepage-sliders {
    position: relative;
    z-index: 2;
}

.homepage-sliders__button {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    border-radius: 50px;
    color: $blue-opaque;
    // box-shadow: 0px 0px 4px #000000;
    cursor: pointer;
    touch-action: auto;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;

    @include breakpoint($medium-up) {
        display: none;
    }

    &--next {
        right: 20px;
    }
}

.homepage-prediction-list {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &__item {
        position: relative;
        padding: 0 14px;
        width: 100%;
        
        @include breakpoint($medium-up) {
            width: 512px;
            margin: 0 auto;
        }

        &:hover {
            text-decoration: none;
        }

        &.slick-slide {
            transform: scale(0.7);
            transition: transform 0.5s ease-in-out;
            cursor: grab;

            &:active {
                cursor: grabbing !important;
            }
        }

        &.slick-current {
            transform: none;
            opacity: 1;
            cursor: pointer;
        }
    }

    &__item-tip {
        position: absolute;
        top: calc(50% - 12px);
        width: 56px;
        height: 24px;
        pointer-events: none;
        z-index: 1;

        &--left {
            left: -19px;
            transform-origin: center;
            transform: rotate(90deg) scale(0.5);
        }

        &--right {
            right: -19px;
            transform-origin: center;
            transform: rotate(270deg) scale(0.5);
        }

        path {
            fill: $white;
        }
    }

    &__item-content {
        background-color: $white;
        border-radius: 10px;
        padding: 12px 28px;
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.16);
        text-align: center;

        @include breakpoint ($medium-up) {
            padding: 40px 48px;
            text-align: left;
        }

        h3 {
            font-family: $sans-serif;
            text-transform: uppercase;
            color: $navy;
            margin: 0;
            padding: 0;

            @include breakpoint ($small-only) {
                font-size: 1.125em;
            }
        }

        p {
            margin: 16px 0 0 0;
            font-style: italic;
            padding: 0;
            line-height: 1.75;
        }
    }
    
    &__item-description {
        height: 192px;
        overflow-y: auto;

        @include breakpoint($small-only) {
            display: none;
        }
    }
}

.homepage-index {
    list-style: none;
    padding: 20px 40px;

    @include breakpoint($medium-up) {
        display: none;
    }

    li {
        margin: 0;
    }

    li + li {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    a {
        display: block;
        padding: 20px 0;
        color: $white;

        &:hover {
            text-decoration: none;
            color: $white;

            h4 {
                text-decoration: underline;
            }
        }

        h4, p {
            margin: 0;
        }

        h4 + p {
            margin-top: 4px;
        }

        h4 {
            font-family: Arial, sans-serif;
        }

        p {
            font-style: italic;
            color: rgba(255, 255, 255, 0.6);
            font-weight: lighter;
        }
    }
}