---
layout: default
---
{% assign initialSlide = 0 %}
{% for chapter in site.data.config.index %}
    {% if chapter.url == page.url %}
        {% assign initialSlide = forloop.index0 %}
    {% endif %}
{% endfor %}
<div class="app-body">
    <div class="content-header header-tip-parent">
        <ul class="content-header-slider" data-initial-slide="{{ initialSlide }}">
            {% for chapter in site.data.config.index %}
            <li data-slide-url="{{ chapter.url }}">
                <hgroup class="content-header__title">
                    <h2>{{ chapter.header_title | default: chapter.title }}</h2>
                    {% if chapter.before_title %}
                    <h1>{{ chapter.before_title }}</h1>
                    {% else %}
                    <h1 style="user-select: none;">&nbsp;</h1>
                    {% endif %}
                </hgroup>
            </li>
            {% endfor %}
        </ul>
        <p class="app-wrapper content-header__description" style="margin-left:auto;margin-right:auto;">
            {{ page.description }}
        </p>
        <svg class="header-tip header-tip--blue"><path d="M56,0H0A28,28,0,0,1,28,28,28,28,0,0,1,56,0Z"/></svg>
    </div>

    <main class="content-body app-wrapper">
        <span class="content-body__initial-letter"></span>
        {% contentblock main %}

        {% capture footnotes_block %}{% contentblock footnotes %}{% endcapture %}
        {% if footnotes_block.size > 1 %}
        <ul class="content-footnotes">
            {% contentblock footnotes %}
        </ul>
        {% endif %}
    </main>

    <div class="content-footer content-footer--shadow">
        <div class="app-wrapper">
            <ul class="content-table-of-contents-navigation">
                <li class="content-table-of-contents-navigation__previous">
                    {% if page.previous_title %}
                    <a href="{{ page.previous_url }}">
                        <p>Previous</p>
                        <p style="font-weight: 700;text-transform: uppercase;">{{ page.previous_title }}</p>
                    </a>
                    {% endif %}
                </li>
                <li class="content-table-of-contents-navigation__button-wrapper js-menu-button">
                    <button>Table of Contents</button>
                </li>
                <li class="content-table-of-contents-navigation__next">
                    {% if page.next_title %}
                    <a href="{{ page.next_url }}">
                        <p>Next</p>
                        <p style="font-weight: 700;text-transform: uppercase;">{{ page.next_title }}</p>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <button class="content-table-of-contents js-menu-button">Table of Contents</button>
    </div>
</div>