---
layout: default
---

<div class="app-body">
    <div class="content-header header-tip-parent">
        <div class="app-wrapper">
            <hgroup class="content-header__title">
                <h2>Abstract</h2>
                <h1 style="user-select: none;">&nbsp;</h1>
            </hgroup>
            <p class="content-header__description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, aut. Recusandae ab est officiis numquam molestias rem sed rerum natus, molestiae eius. Aspernatur optio, libero tempore ut nulla iste fuga!
            </p>
        </div>
        <svg class="header-tip header-tip--blue"><path d="M56,0H0A28,28,0,0,1,28,28,28,28,0,0,1,56,0Z"/></svg>
    </div>

    <main class="content-body app-wrapper">
        <span class="content-body__initial-letter"></span>
        {{ content }}
    </main>

    <div class="content-footer content-footer--shadow">
        <div class="app-wrapper">
            <ul class="content-table-of-contents-navigation">
                <li class="content-table-of-contents-navigation__previous">
                    <a href="#">
                        <p>Previous</p>
                        <p style="font-weight: 700;text-transform: uppercase;">Prediction</p>
                    </a>
                </li>
                <li class="content-table-of-contents-navigation__button-wrapper js-menu-button">
                    <button>Table of Contents</button>
                </li>
                <li class="content-table-of-contents-navigation__next">
                    <a href="#">
                        <p>Next</p>
                        <p style="font-weight: 700;text-transform: uppercase;">Prediction</p>
                    </a>
                </li>
            </ul>
        </div>
        <button class="content-table-of-contents js-menu-button">Table of Contents</button>
    </div>
</div>