---
---
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,700&display=swap');

@import 'breakpoints';

// Vars for Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;

// Importing Utils
@import 'utils';

// Vars for Typography
$sans-serif: 'Work Sans', sans-serif;
$serif: 'Merriweather', serif;

// Vars for Colors
$white: #ffffff;
$black: #001b2f;
$blue: #00c4ff;
$navy: #002f54;
$blue-opaque: #0093cA;

$main-color: $blue-opaque;

$app-body-max: 740px;

@import 'vendors/slick';

@import 'base';
@import 'main';
@import 'columns';
@import 'header';
@import 'lock-overlay';

@import 'custom';
@import 'dev';

@import 'components/footer';
@import 'components/menu';
@import 'components/header-tip';
@import 'components/content-header';
@import 'components/content-body';
@import 'components/content-footer';
@import 'components/content-table-of-contents';
@import 'components/hero';
@import 'components/logo';
@import 'components/prediction-list';
@import 'components/download';
@import 'components/author-portrait';

@import 'views/homepage';