img {
  max-width: 100%;
  height: auto;
}

.app-wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @include breakpoint($medium-up) {
    max-width: $app-body-max;
    margin-left: auto;
    margin-right: auto;
  }

}
