<footer>
    {% if page.download == true or include.download == true %}
    <div class="footer-download">
        <a class="download-button" href="{{ site.data.config.report_file | relative_url }}" target="_blank" rel="noopener">
            <p>Download the report</p>
        </a>
    </div>
    {% elsif page.download == small-only or include.download == small-only %}
    <div class="footer-download footer-download--on-small">
        <a class="download-button" href="{{ site.data.config.report_file | relative_url }}" target="_blank" rel="noopener">
            <p>Download the report</p>
        </a>
    </div>
    {% endif %}
    <div class="footer-wrapper">
        <p>Report by</p>
        <p style="margin-bottom:32px;"><strong>Tiago Peixoto &amp; Tom Steinberg</strong></p>
        <a class="footer-watermark" href="https://www.worldbank.org/" target="_blank" rel="noopener">
            <img src="{{ '/images/world-bank-logo.svg' | relative_url }}" width="192" />
        </a>
    </div>
</footer>