<div class="menu-container">
    <div class="top-bar"></div>
    <button class="u-material-icons menu-button menu-button-open js-menu-button">menu</button>
    <div class="menu">
        <div class="menu-content">
            <button class="u-material-icons menu-button menu-button-close js-menu-button">close</button>
            {% include _logo-small.html %}
            <div class="menu-content__content">
                <h4 class="menu-sections-title">Table of Contents</h4>
                <ul class="menu-sections">
                    <li><a href="#">Abstract</a></li>
                    <li>
                        <a href="#">Introduction</a>
                        <ul>
                            <li><a href="#">Purpose</a></li>
                            <li><a href="#">Approach</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Predictions</a></li>
                    <li><a href="#">Implications &amp; Measures</a></li>
                    <li>
                        <a href="#">Conclusions</a>
                        <ul>
                            <li><a href="#">People First, Not Tech</a></li>
                            <li><a href="#">Conclusion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-footer">
            {% include _footer.html %}
        </div>
    </div>
</div>