<div class="menu-container">
    <div class="top-bar"></div>
    <button class="u-material-icons menu-button menu-button-open js-menu-button">menu</button>
    <div class="menu">
        <div class="menu-content">
            <button class="u-material-icons menu-button menu-button-close js-menu-button">close</button>
            <a class="menu-logo" href="/index.html">
                {% include _logo-small.html %}
            </a>
            <div class="menu-content__content">
                <h4 class="menu-sections-title">Table of Contents</h4>
                <ul class="menu-sections">
                    <li><a href="/pages/abstract.html">Abstract</a></li>
                    <li>
                        <a href="/pages/introduction.html">Introduction</a>
                        <!-- <ul>
                            <li><a href="/pages/purpose.html">Purpose</a></li>
                            <li><a href="/pages/approach.html">Approach</a></li>
                        </ul> -->
                    </li>
                    <li><a href="/predictions.html">Predictions</a></li>
                    <li><a href="/pages/implications-conclusions.html">Implications</a></li>
                    <li><a href="/measures.html">Measures</a></li>
                    <li>
                        <a href="/pages/conclusion.html">Conclusion</a>
                        <!-- <ul>
                            <li><a href="#">People First, Not Tech</a></li>
                            <li><a href="#">Conclusion</a></li>
                        </ul> -->
                    </li>
                    <li><a href="/pages/authors.html">Authors</a></li>
                    <li><a href="/pages/references.html">References</a></li>
                </ul>
            </div>
        </div>
        <div class="menu-footer">
            {% include _footer.html %}
        </div>
    </div>
</div>