---
layout: default
title: Emerging Digital Technologies &amp; Citizen Participation
download: true
---
<div class="hero hero--blue homepage-hero">
    <div class="app-wrapper">
        {% include _logo-large.html %}
        <p class="hero-excerpt">Eleven Predictions on the Influence of Emerging Technologies</p>
    </div>
    <div class="hero-overlay homepage-hero-overlay">
        <div class="app-wrapper"">
            <!-- <p>Report by</p> -->
            <p><strong>Tiago Peixoto &amp; Tom Steinberg</strong></p>
        </div>
    </div>
</div>

<!--
<div class="homepage-predictions">
    <div class="homepage-sliders">
        <ul class="homepage-prediction-list">
            {% assign predictions = site.pages | where_exp: "prediction", "prediction.prediction_number > 0" | sort: "prediction_number" %}
            {% for p in predictions %}
            <a class="homepage-prediction-list__item" href="{{ p.url }}" target="_blank">
                <li>
                    <svg class="homepage-prediction-list__item-tip homepage-prediction-list__item-tip--left"><path d="M56,0H0A28,28,0,0,1,28,28,28,28,0,0,1,56,0Z"/></svg>
                    <div class="homepage-prediction-list__item-content">
                        <h3>{{ p.title }}</h3>
                        <div class="homepage-prediction-list__item-description">
                            <p>
                                {{ p.description }}
                            </p>
                        </div>
                    </div>
                    <svg class="homepage-prediction-list__item-tip homepage-prediction-list__item-tip--right"><path d="M56,0H0A28,28,0,0,1,28,28,28,28,0,0,1,56,0Z"/></svg>
                </li>
            </a>
            {% endfor %}
        </ul>
        <button class="u-material-icons homepage-sliders__button homepage-sliders__button--next">arrow_forward</button>
    </div>
    <div class="homepage-section">
        <ul class="homepage-navigation">
            <li><a href="/pages/abstract.html" target="_blank">Abstract</a></li>
            <li><a href="/pages/introduction.html" target="_blank">Introduction</a></li>
            <li><a href="/predictions.html" target="_blank">Predictions</a></li>
            <li><a href="/pages/implications-conclusions.html" target="_blank">Implications</a></li>
            <li><a href="/measures.html" target="_blank">Measures</a></li>
            <li><a href="/pages/conclusion.html" target="_blank">Conclusion</a></li>
        </ul>
    </div>
</div>
-->

<ul class="homepage-index">
    {% for item in site.data.config.small_index %}
    <li>
        <a href="{{ item.url }}">
            <h4{% if item.single %} class="homepage-index__single-title"{% endif %}>{{ item.title }}</h4>
            {% if item.description %}
            <p>{{ item.description }}</p>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>